beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
debtcollector==2.2.0
dnspython==1.16.0
eventlet==0.30.2
greenlet==1.0.0
idna==2.10
importlib-metadata==3.7.0
importlib-resources==5.1.2
lark==0.11.1
msgpack==1.0.2
netaddr==0.8.0
numpy==1.19.5
opencv-python==4.5.1.48
oslo.config==8.5.0
oslo.i18n==5.0.1
ovs==2.13.0
pbr==5.5.1
pkg-resources==0.0.0
pyeda==0.28.0
PyYAML==5.4.1
pyzmq==22.0.3
repoze.lru==0.7
requests==2.25.1
rfc3986==1.4.0
Routes==2.5.1
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.2
stevedore==3.3.0
tinyrpc==1.0.4
typing-extensions==3.7.4.3
urllib3==1.26.3
WebOb==1.8.7
wrapt==1.12.1
zipp==3.4.1
